FMP_API_KEY=
NOTION_TOKEN=
NOTION_ETF_AUDIT_DB_ID=
GCP_PROJECT_ID=naive-usstock-live
GCP_REGION=us-central1
CLOUD_SQL_INSTANCE_CONNECTION_NAME=naive-usstock-live:us-central1:naive-usstock-db
USE_CLOUD_SQL_PROXY=true
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=usstock
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
GCS_BOOTSTRAP_BUCKET=naive-usstock-data
GCS_BOOTSTRAP_PREFIX=bootstrap/
